header nav.navbar{
    background-color: rgb(29, 17, 17) !important;
}
header nav.navbar li:hover{
    letter-spacing: 3px;
    color: burlywood;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(249 246 246);
}
.navbar-brand,.navbar-nav{
    padding: 5px;
}
div.parm>p{
    background-color: black;
}
textarea{
    text-align: center;
    margin-left: 40%;
}
.float-container {
    
    padding: 20px;
}

.float-child {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    float: left;
    color: rgb(10, 10, 8);
    padding: 20px;
     margin-top: 40px;
    border: 1px solid rgb(160, 150, 150);
    
    border-radius: 25%;
}  
.float-child:hover{
    background-color:  rgb(20, 14, 14);
    color: rgb(247, 243, 243) ;
    
    transition: ease-in-out 1s;
    transform: rotate(360deg);
}
div.hire1{
    
    text-align: center;
    background-image: url(./birds.jpg);
    font-family: 'Times New Roman', Times, serif;

}

div.hire2>h3{
    padding-top: 50px;
    
}
div.hire2>h4{
    float: left;
    
    
}
div.hire2>p{
    
    float: left;
    padding-top: 50px;
    font-size: 20px;
    margin-right: 180px;
}
div.hire3>h3{
    float: right;
}
div.pa{
    float: right;
}
